doctype 5
html
    head
        title Blendder - Controle Remoto
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src="http://10.51.100.247:3000/socket.io/socket.io.js")
        script(src="script_control.js")
    body
        div.container
            header
            //- input(type='text')#pseudoInput
            //- button#pseudoSet Set Pseudo
            div#chatControls
                input(type='hidden')#messageInput
                // button#submit Send
                button#bt-play Play
                button#bt-stop Stop